

.App-header {
    box-sizing: border-box;
    display: flex;
    max-height: 40px;
    overflow: hidden;
    padding: 4px;
    height:40px;
    margin-left:6px;
}

.add-icon-button {
    border-radius: 3px;
    border: 0;
    text-decoration: none;
    background-color: hsla(0,0%,100%,.3);
    box-shadow: none;
    color: #eee;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    margin-left:5px;
}

.board-details {
   margin-left: 10px;
   display:flex;
   height:auto;
}

.board-title {
  color:#eee;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding: 0 12px;
  width: fit-content;
  max-width:500px;
  overflow:hidden;
  background-color: hsla(0,0%,100%,.24);
  margin:0px;
}
